[Desktop Entry]
Name=Obsidian
Comment=Obsidian
GenericName=Knowledge Base
Exec=obsidian %U
Icon=obsidian
Type=Application
StartupNotify=true
Categories=Office;Utilities;
MimeType=x-scheme-handler/obsidian;
