name: "Build Latest Packages"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Update VUR Packages
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/void-linux/void-glibc-full:20250227R1
      options: --platform linux/amd64 --privileged

    strategy:
      matrix:
        arch: [ x86_64  ]
    env:
      REPO_OWNER: "${{ github.repository_owner }}"
      REPO_NAME: "${{ github.event.repository.name }}"
      TARGET_ARCH: "${{ matrix.arch }}"
      SCRIPT_DIR: "/work/${{ github.event.repository.name }}/scripts"
      BUILD_ARGS: ""

    steps:
      - name: Prepare container and create a non-root user
        run: |
          # setup repos
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          # install dependencies
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash grep curl git kotlin-bin
          # create a non-root user
          useradd -G xbuilder -M builder

      - name: Clone VUR repo
        id:  cloneandinit
        run: $SCRIPT_DIR/00_clone_and_initialize_repo

      - name: Determine changed templates
        id:   changed
        run:  $SCRIPT_DIR/01_changed-templates
        
      - name: Merge templates and edit shlibs
        run:  $SCRIPT_DIR/02_merge-and-edit-shlibs

      - name: prepare repo and build
        run:  $SCRIPT_DIR/03_prepare-and-build

      - name: Copy relevant packages for indexing and signing
        run: |
          export PEM_PAT=${{ secrets.PEM_PAT }}
          export XBPS_PASSPHRASE=${{ secrets.PRIVATE_PEM_PASSPHRASE }}
          export XBPS_TARGET_ARCH=${{ env.TARGET_ARCH }}
          sudo -Eu builder $SCRIPT_DIR/index-packages
          sudo -Eu builder $SCRIPT_DIR/sign-packages

      - name: Push new packages to binary repository
        run: |
          export ACCESS_GIT=${{ secrets.ACCESS_GIT }}
          sudo -Eu builder $SCRIPT_DIR/06_push-repository
