name: "Build Latest Packages"

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      forceBuild:
        description: "Force packages build"
        required: false
        type: choice
        options:
          - true
          - false

jobs:
  build:
    name: Update VUR Packages
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/void-linux/void-glibc-full:20250227R1
      options: --platform linux/amd64 --privileged

    strategy:
      matrix:
        arch: [ x86_64  ]
    env:
      REPO_OWNER: "${{ github.repository_owner }}"
      REPO_NAME: "${{ github.event.repository.name }}"
      TARGET_ARCH: "${{ matrix.arch }}"
      SCRIPT_DIR: "/work/${{ github.event.repository.name }}/scripts"
      BUILD_ARGS: ""

    steps:
      - name: Prepare container and create a non-root user
        run: |
          # setup repos
          mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
          sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
          # install dependencies
          xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash grep curl git tree
          # create a non-root user
          useradd -G xbuilder -M builder

      - name: Clone VUR repo
        id:  cloneandinit
        run: |
            echo "[CloneAndInitializeRepo] - Starting "
            
            mkdir /work && cd /work
            mkdir packages
            
            echo "[CloneAndInitializeRepo] - clone repository "
            git clone https://github.com/$REPO_OWNER/$REPO_NAME.git $REPO_NAME

            echo "[CloneAndInitializeRepo] - clone void packages "
            git clone --depth 1 https://github.com/void-linux/void-packages.git void-packages
            
            echo "[CloneAndInitializeRepo] - Entry on $REPO_NAME "
            cd $REPO_NAME
            echo "[CloneAndInitializeRepo] - verify previus commit "
            if [ -n "${{ github.event.before }}" ] && [ "${{ github.event.before }}" != "0000000000000000000000000000000000000000" ]; then
                git fetch --no-tags origin "${{ github.event.before }}" --depth 1 || true
            fi
            
            echo "[CloneAndInitializeRepo] - getting current commit "
            git fetch --no-tags origin "${{ github.sha }}" --depth 1
            
            git checkout --detach "${{ github.sha }}"
            
            echo "RESULT_NAME=x86_64-glibc" >> "$GITHUB_ENV"
            echo "base=${{github.event.before}}" >> "$GITHUB_OUTPUT"
            echo "tip=${{github.sha}}" >> "$GITHUB_OUTPUT"
            
            echo "[CloneAndInitializeRepo] - Finish "

      - name: Determine changed templates
        id:   changed
        env:
          BASE: ${{ steps.cloneandinit.outputs.base }}
          TIP: ${{ steps.cloneandinit.outputs.tip }}
          FORCEBUILD: ${{ github.event.inputs.forceBuild }}
        run:  $SCRIPT_DIR/01_changed-templates
        
      - name: Merge templates and edit shlibs
        run:  $SCRIPT_DIR/02_merge-and-edit-shlibs


      - name: Prepare masterdir
        run: |
            cd /work/void-packages
            chown -R builder:builder . &&
            sudo -Eu builder common/travis/set_mirror.sh &&
            sudo -Eu builder common/travis/prepare.sh &&
            common/travis/fetch-xtools.sh

      - name: build
        env:
          CHANGEDPACKAGES: ${{ steps.changed.outputs.changedpackages }}
          REMOVEDPACKAGES: ${{ steps.changed.outputs.removedpackages }}
        run: $SCRIPT_DIR/03_prepare-and-build
        
      - name: Remove old bin packages
        if: ${{ steps.changed.outputs.changedpackages != '' || steps.changed.outputs.removedpackages != '' }}
        env:
          CHANGEDPACKAGES: ${{ steps.changed.outputs.changedpackages }}
          REMOVEDPACKAGES: ${{ steps.changed.outputs.removedpackages }}
          ACCESS_GIT: ${{ secrets.ACCESS_GIT }}
        working-directory: /work/void-packages/hostdir/binpkgs
        run:  $SCRIPT_DIR/04_remove_old_files

      - name: Copy relevant packages for indexing and signing
        if: ${{ steps.changed.outputs.changedpackages != '' || steps.changed.outputs.removedpackages != '' }}
        env:
          PEM_PAT: ${{ secrets.PEM_PAT }}
          XBPS_PASSPHRASE: ${{ secrets.PRIVATE_PEM_PASSPHRASE }}
          XBPS_TARGET_ARCH: ${{ env.TARGET_ARCH }}
        run: |
          $SCRIPT_DIR/05_index-packages
          $SCRIPT_DIR/06_sign-packages

      - name: Push new packages to binary repository
        if: ${{ steps.changed.outputs.changedpackages != '' || steps.changed.outputs.removedpackages != '' }}
        env:
          ACCESS_GIT: ${{ secrets.ACCESS_GIT }}
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
          RESULT_NAME: ${{ env.RESULT_NAME }}
        run: $SCRIPT_DIR/07_push-repository
