name: Check build
on:
  pull_request:
    branches:
      - master
    paths:
      - 'srcpkgs/**'
jobs:
  # Lint changed templates.
  build:
    name: identify changed packages
    runs-on: ubuntu-latest

    container:
      image: 'ghcr.io/void-linux/void-glibc-full:20250227R1'
      env:
        PATH: '/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin:/usr/local/bin:/tmp/bin'
        ARCH: 'x86_64'
        BOOTSTRAP: 'x86_64'
        SCRIPT_DIR: "/work/${{ github.event.repository.name }}/scripts"
    steps:
      - name: prepare container
        run: |
            mkdir -p /etc/xbps.d && cp /usr/share/xbps.d/*-repository-*.conf /etc/xbps.d/
            sed -i 's|repo-default|repo-ci|g' /etc/xbps.d/*-repository-*.conf
            xbps-install -Syu xbps && xbps-install -yu && xbps-install -y sudo bash curl git
            useradd -G xbuilder -M builder
    
      - name: checkout repo (PR head)
        id: cloneandinit
        run: |
            git clone --depth 1 "https://github.com/${{ github.repository }}.git" work
            cd work
            git fetch --no-tags origin "${{ github.event.pull_request.head.sha }}" --depth 1
            git checkout --detach "${{ github.event.pull_request.head.sha }}"
            echo "base=${{github.event.pull_request.base.sha}}" >> "$GITHUB_OUTPUT"
            echo "tip=${{steps.cloneandinit.outputs.tip}}"  >> "$GITHUB_OUTPUT"
            
      - name: Determine changed templates
        run:  $SCRIPT_DIR/01_changed-templates
        
      - name: Merge templates and edit shlibs
        run:  $SCRIPT_DIR/02_merge-and-edit-shlibs
        
      - name: Merge templates and edit shlibs
        run:  $SCRIPT_DIR/03_prepare-and-build
